<div class="container">
  <h1>Agustin Hardware</h1>

  <form action="/logout" method="GET">
    <button type="submit">Logout</button>
  </form>

  <br />
  {{#if user}}
    <h1>Bienvenido, {{user.first_name}}</h1>
    <p>Email: {{user.email}}</p>
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Edad: {{user.age}}</p>
  {{else}}
    <h1>Bienvenido, Invitado</h1>
  {{/if}}

  <h1>Listado de Productos</h1>
  <h2>Products:</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Miniatura</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{Title}}</td>
          <td>{{Description}}</td>
          <td>{{Price}}</td>
          <td>
            <img
              src="/uploads/{{Thumbnail}}"
              alt="Imagen del producto"
              width="50"
            />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>